name: example

on:
  workflow_dispatch:

jobs:
  main:
    runs-on: ubuntu-latest
    outputs:
      greeting: ${{ steps.output.outputs.greeting }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ github.event_name == 'workflow_dispatch' && 'dispatch' || 'other' }}
      - name: Run a one-line script
        run: echo Hello, world!
      - name: I am ${{ github.actor }}
        id: output
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
          echo "greeting='Hello, ${{ github.actor }}'" >> "$GITHUB_OUTPUT"

  cleanup:
    if: success() || needs.main.result == 'skipped'
    needs: main
    runs-on: ubuntu-latest
    env:
      GREETING: ${{ needs.main.outputs.greeting }}
    steps:
      - name: Clean up
        run: |
          echo "The output from the main job was $GREETING"
          exit 1
  
  output:
    needs: main
    runs-on: ubuntu-latest
    env:
      TOKEN: should-be-masked
    steps:
      - run: |
          echo "::add-mask::$TOKEN"
          echo "This should be masked: $TOKEN"
